{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 1,
                "bracketSpacing": false
            }
        }
    ]
}
